* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.pantalla-login {
     height: 100vh;    
    background-image: url(Lol.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo{
    background-image: url(icono.png);
    width: 40px;
    height: 40px;
    margin-top: 12px;
    margin-left: 130px;
}
.caja-login{
    width: 330px;
    height: 310px;
    border: 3px solid yellow;
    display: flex;
    flex-direction: column;
    align-content: center;
}

 .buttonPass {
    width: 180px;
    height: 52px;
    
}

.menu ul {
    width: 100%;
    background-color: yellow;
    display: flex;
}