* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*RECICLANDO */

.hide {
    display: none;
}

.flex {
    display: flex;
}

.pantalla {
    height: 87vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.pantalla-2 {
    height: 58vh;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    height: 90%;
}


/*--------------------------------------------------/
/PANTALLA 1*/

.vista-login {
    justify-content: center;
    align-items: center;
    background-image: url(img/Lol.jpg);
}

.cuadro-login {
    width: 90%;
    height: 75%;
    background-color: #00000059;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.campeones {
    text-align: center;
}

.logo {
    background-repeat: no-repeat;
    background-image: url(img/icono.png);
    width: 15%;
    height: 12%;
    background-size: contain;
    margin-top: 30px;
}

.sub-cuadro-login {
    width: 90%;
    height: 50%;
    flex-direction: column;
}

.cuadro-de-texto {
    width: 100%;
    height: 20%;
    padding: 5%;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 30px;
}

.cuadro-boton {
    height: 45%;
    width: 90%;
    align-items: center;
    flex-direction: column;
}

.button-pass {
    height: 30%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
}

.texto {
    font-size: 19px;
    color: white;
    margin-top: 14px;
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
}

h1 {
    padding-top: 10px;
    color: #ddc68e;
}

h2 {
    color: #ddc68e;
    font-size: 20px;
}

#olvidaste {
    text-align: end;
}


/*------------------------------------------------------/
/PANTALLA 2*/

.vista-dos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://s-media-cache-ak0.pinimg.com/originals/d3/97/fa/d397faf0fec8ddd29c45bf847cbb7c41.gif);
}

.contenedor-campeones {
    flex-direction: column;
    background-attachment: fixed;
    z-index: 1;
    background-image: url(img/fondo1.jpg);
}

.btn-opciones {
    color: #E3B656;
    border: none;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    text-decoration: none;
}

.sub-informacion h2 {
    color: white;
    font-size: 20px;
    padding: 15px;
}

.sub-informacion p {
    font-size: 18px;
    margin-right: 15px;
    margin-left: 25px;
}

.informacion {
    width: 100%;
    height: 60%;
    flex-direction: column;
    align-items: center;
}

.video {
    height: 60%;
    width: 80%;
    margin-top: 1%;
}

.mensaje-x {
    background-color: #2007078c;
    height: 250px;
    width: 80%;
    font-size: 74%;
    color: #F7F7F7;
    padding: 2%;
    font-family: 'Krub', sans-serif;
}

.menu {
    width: 100%;
    height: 3em;
    background-color: black;
    border-top: 1px solid #7d6033;
    border-bottom: 1px solid #7d6033;
    justify-content: space-around;
    align-items: center;
}

.nav ul li {
    text-decoration: none;
    list-style: none;
}


/*--------------------------------------------------/
/PANTALLA 3*/

.decorado {
    color: aliceblue;
    font-size: 30px;
    font-family: 'Literata', serif;
}

.decorado:hover {
    color: rgb(245, 188, 33);
    border: solid white;
    border-width: 0 0.1rem;
}


/* ESTILOS PARA IMAGENES*/

.logo-lol {
    width: 100%;
    height: 120px;
    background-color: black;
    align-self: center;
    flex-direction: row;
}

.titulo {
    color: #E3B656;
    font-size: 97%;
    padding: 5%;
    font-family: 'EB Garamond', serif;
}

.img-header {
    width: 36%;
    height: 100%;
    margin-left: 29%;
}

.img-dos {
    display: none;
}

.img {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.img:hover {
    width: 185px;
    height: 185px;
}

.personajes-flex {
    display: inline-block;
    width: 199px;
    height: 250px;
    padding: 5px;
    margin: 2%;
    vertical-align: top;
    background-color: #312b1fa8;
}

.orden {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
    margin: 1rem;
    background-color: #e0dcdc99;
    font-family: 'Cuprum', sans-serif;
}

.orden:hover {
    border: solid white;
    border-width: 0 0.1rem;
}

.filtrado-general {
    flex-direction: column;
    align-self: center;
}

footer {
    height: -webkit-fill-available;
    background-color: black;
    border-top: 2px solid #7d6033;
    color: rgba(209, 197, 169, 0.4);
    text-align: center;
    padding: 3%;
}


/*ESTILOS MODAL*/

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(36, 39, 24, 0.6);
}

.info-descripcion {
    flex-direction: column;
}

.contenido-modal {
    flex-direction: column;
}

.modal-img {
    display: none;
}

.su-id {
    color: orange;
    font-size: 60px;
}

.su-descripcion {
    color: navajowhite;
    font-size: 96%;
}

.su-titulo {
    color: peru;
    font-size: x-large;
    width: 100%;
}

.infor-macion {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 6%;
}

.su-info {
    color: white;
    font-size: 15px;
    color: tan;
}

.info {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
}


/* Modal Content/Box */

.modal-content {
    background-color: black;
    margin: auto;
    padding: 10px 20px 0 20px;
    width: 70%;
    height: 100%;
    border-radius: 40px;
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*RESPONSIVE*/

@media(min-width:600px) {
    .pantalla,
    .pantalla-2 {
        height: 100vh;
    }
    .cuadro-login {
        width: 30%;
    }
    .cuadro-de-texto {
        height: 20%;
    }
    .cuadro-boton {
        height: 20%;
    }
    .button-pass {
        height: 57%;
    }
    .img-header {
        width: 20%;
    }
    .img-dos {
        display: inline-block;
        width: 8%;
        margin-left: 38%;
    }
    .titulo {
        font-size: 3em;
    }
    .informacion {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .mensaje-x {
        height: 50%;
        width: 33%;
        font-size: 92%;
    }
    .video {
        height: 58%;
        width: 35%;
        margin: 0;
    }
    .filtrado-general {
        display: flex;
        flex-direction: row;
    }
    .modal-content {
        height: 84%;
        width: 50%;
    }
    .info-descripcion {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .contenido-modal {
        width: 50%;
    }
    .modal-img {
        display: block;
        width: 87%;
        margin: 2%;
    }
    .infor-macion {
        width: 30%;
        height: min-content;
        margin-top: 22%;
    }
    .su-info {
        font-size: 2em;
    }
    footer {
        height: 25%;
        padding: 10px;
    }
}